---
- name: Install dependancies
  package:
    name: "{{ packages }}"
    state: present
  become: true

- name: Install Python dependancies
  pip:
    name: netaddr

- name: check for systemd
  stat:
    path: /etc/systemd
  register: systemd_check

- name: check if firewalld exists
  stat:
    path: /etc/sysconfig/firewalld
  register: firewall_rules
