[Unit]
Description=Redis-Sentinel Monitor for Redis
After=network.target

[Service]
Type=notify
ExecStart=/usr/local/bin/redis-server /etc/redis/sentinel.conf --supervised systemd
ExecStop=/usr/local/bin/redis-cli shutdown
Restart=yes
LimitNOFILE=10240

[Install]
WantedBy=multi-user.target
