daemonize yes
pidfile /var/run/redis/{{ redis_daemon }}.pid
port {{ redis_child_port }}
bind {{ redis_bind_loop }} {{ redis_child_interface }}
{% if redis_unixsocket %}
unixsocket {{ redis_unixsocket }}
{% endif %}
timeout {{ redis_timeout }}
loglevel {{ redis_loglevel }}
logfile {{ redis_logfile }}
databases {{ redis_databases }}

{% for save in redis_save %}
save {{ save }}
{% endfor %}
rdbcompression {{ redis_rdbcompression }}
dbfilename {{ redis_dbfilename }}
dir {{ redis_dbdir }}
# maxclients 128
{% if redis_maxmemory %}
maxmemory {{ redis_maxmemory }}
maxmemory-policy {{ redis_maxmemory_policy }}
maxmemory-samples {{ redis_maxmemory_samples }}
{% endif %}

appendonly {{ redis_appendonly }}
appendfsync {{ redis_appendfsync }}
no-appendfsync-on-rewrite no

{% for include in redis_includes %}
include {{ include }}
{% endfor %}
{% if redis_requirepass %}
requirepass {{ redis_requirepass }}
{% endif %}
{% for redis_disabled_command in redis_disabled_commands %}
rename-command {{ redis_disabled_command }} ""
{% endfor %}

{% if slave-serve-stale-data %}
slave-serve-stale-data {{ slave-serve-stale-data }}
{% endif %}
{% if slave-read-only %}
slave-read-only {{ slave-read-only }}
{% endif %}
repl-diskless-sync: "{{ repl-diskless-sync }}"
repl-diskless-sync-delay: "{{ repl-diskless-sync-delay }}"
repl-disable-tcp-nodelay: "{{ repl-disable-tcp-nodelay }}"
slave-priority: "{{ slave-priority }}"
lazyfree-lazy-eviction: "{{ lazyfree-lazy-eviction }}"
lazyfree-lazy-expire: "{{ lazyfree-lazy-expire }}"
lazyfree-lazy-server-del: "{{ lazyfree-lazy-server-del }}"
slave-lazy-flush: "{{ slave-lazy-flush }}"
appendonly: "{{ appendonly }}"
appendfilename: "{{ appendfilename }}"
{% if appendfsync1 %}
appendfsync: {{ appendfsync1 }}
{% endif %}
{% if appendfsync2 %}
appendfsync: {{ appendfsync2 }}
{% endif %}
{% if appendfsync3 %}
appendfsync: {{ appendfsync3 }}
{% endif %}
# appendfsync always
appendfsync: "everysec"
# appendfsync no
no-appendfsync-on-rewrite: "{{ no_appendfsync_on_rewrite }}"
auto-aof-rewrite-percentage: "{{ auto_aof_rewrite_percentage }}"
auto-aof-rewrite-min-size: "{{ auto_aof_rewrite_min_size }}"
aof-load-truncated: "{{ aof_load_truncated }}"
aof-use-rdb-preamble: "{{ aof_use_rdb_preamble }}"
lua-time-limit: "{{ lua_time_limit }}"
slowlog-log-slower-than: "{{ slowlog_log_slower_than }}"
slowlog-max-len: "{{ slowlog_max_len }}"
latency-monitor-threshold: "{{ latency_monitor_threshold }}"
notify-keyspace-events: "{{ notify_keyspace_events }}"
hash-max-ziplist-entries: "{{ hash_max_ziplist_entries }}"
hash-max-ziplist-value: "{{ hash_max_ziplist_value }}"
list-max-ziplist-size: "{{ list_max_ziplist_size }}"
list-compress-depth: "{{ list_compress_depth }}"
set-max-intset-entries: "{{ set_max_intset_entries }}"
zset-max-ziplist-entries: "{{ zset_max_ziplist_entries }}"
zset-max-ziplist-value: "{{ zset_max_ziplist_value }}"
hll-sparse-max-bytes: "{{ hll_sparse_max_bytes }}"
activerehashing: "{{ activerehashing }}"
client-output-buffer-limit: "{{ client_output_buffer_limit1 }}"
client-output-buffer-limit: "{{ client_output_buffer_limit2 }}"
client-output-buffer-limit: "{{ client_output_buffer_limit3 }}"
hz: "{{hz}}"
aof-rewrite-incremental-fsync: "{{ aof_rewrite_incremental_fsync }}"

{% for host in groups["redis"] %}
{% if hostvars[host]["redis-tag"] == parent %}
replicaof {{ ansible_default_ipv4.address }} {{ redis_parent_port }}
{% endif %}
{% endfor %}
